.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  /* Учитываем высоту Header и Footer */
  padding: 20px;
  box-sizing: border-box;
}