.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  /* Учитываем высоту Header и Footer */
  padding: 20px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  /* Максимальная ширина страницы */
  margin: 0 auto;
  /* Центрирование по горизонтали */
  padding: 20px;
  /* Внутренние отступы */
  box-sizing: border-box;
  /* Учитываем padding в размер */
}