h1 {
  color: #333;
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #45a049;
}

/* Weather */

.weather-widget {
  position: absolute;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
  width: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.weather-widget p {
  margin: 5px 0;
}